// INTRO SECTION

.main {
  margin-bottom: 80px;
}

.intro__content {
  width: 447px;
  margin-top: 170px;
}

.intro__title {
  margin: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: $color-text-dark;
}

.intro__text {
  margin-top: 24px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: $color-text;
}

.intro__widget {
  width: 733px;
  height: 890px;
  transform: translateY(-480px);
  margin-left: 410px;
}

/*@include breakpoint-down (1080px) {
  .intro__widget {
    width: 433px;
    height: 590px;
    transform: translateY(-400px);
    margin-left: 750px;
  }

  .intro-section__container {
    margin-left: 280px;
  }

}*/

@include breakpoint-down (725px) {
  .intro__widget {
    width: 433px;
    height: 590px;
    transform: translateY(-400px);
    margin-left: 550px;
  }

  /*.intro__title  {
    width: 202px;
    font-size: 30px;
    line-height: 33px;
    transform: translateY(-50px);
  }

  .intro__text {
    transform: translateY(-50px);
    width: 386px;
    font-size: 14px;
    line-height: 24px;
  }

  .intro__button {
    transform: translateY(-50px);
    padding: 5px 30px;
  }*/
}

@include breakpoint-down (630px) {
  .intro__widget {
    width: 433px;
    height: 590px;
    transform: translateY(-400px);
    margin-left: 400px;
  }
}